[default]
#database_modules: acc clusterer dialog dialplan dispatcher domain rtpproxy usrloc
database_modules: ALL

database_admin_url: postgres://postgres@localhost
#database_admin_url: mysql://root@localhost